.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.carousel__image-container {
    position: relative;
}

.carousel__image-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.carousel-image {
    width: 900px;
    height: 650px;
    object-fit: contain;
}

.carousel__popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
    z-index: 999;
  }

.carousel__image-wrapper:hover .carousel__popup {
    opacity: 1;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.carousel__controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}